@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.custom-nav {
  @apply text-white w-10 h-10 flex items-center justify-center rounded-full shadow-md font-bold;
  background-color: #C0A578;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
}


.swiper-button-next.custom-nav::after,
.swiper-button-prev.custom-nav::after {
  font-size: 1.25rem;
  font-weight: 700;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: none !important;
}

